/* This Css is Common style sheet for Travel to Trip project Author by Sureshkumar*/
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700,800');
@media screen and (min-width: 768px){
    html, body{
        font-size: 16px;
        font-family: 'Sarabun', sans-serif;
    }
}
.gray_bg{
    background-color: #f4f4f4;
}
/* Start Header design */
.ttt_logo {
    width: 9.1875rem;
}
.ttt_logo img {
    width: 100%;
}
header{
    background: linear-gradient(180deg, rgba(0,0,0,0.65), rgba(54, 54, 54, 0.21) 75%, rgba(84, 84, 84, 0));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
header nav {
    width: 100%;
}
header .navbar-collapse {
    justify-content: flex-end;
}
header .navbar-collapse a.nav-link {
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    padding: 0px !important;
    margin: 0 15px;
    position: relative;
}
/* End Header design */
/* Start Banner section in home page*/
main {
    min-height: 100vh;
}
.home_banner, .home_banner>.row, #homebanner, #homebanner>.carousel-inner, #homebanner>.carousel-inner>.carousel-item{
    height: 100vh;
    width: calc(100vw - 17px);
}
#homebanner .carousel-1, #homebanner .carousel-2, #homebanner .carousel-3, #homebanner .carousel-4, #homebanner .carousel-5, #homebanner .carousel-6{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#homebanner .carousel-1{
    background-image: url(../img/hotels.jpg);
    background-position: center;
}
#homebanner .carousel-2{
    background-image: url(../img/resorts.jpg);
    background-position: center;
}
#homebanner .carousel-3{
    background-image: url(../img/adventure.jpg);
    background-position: center bottom;
}
#homebanner .carousel-4{
    background-image: url(../img/holiday.jpg);
    background-position: center bottom;
}
#homebanner .carousel-5{
    background-image: url(../img/rentcar.jpg);
    background-position: center bottom;
}
#homebanner .carousel-6{
    background-image: url(../img/accommod.jpg);
    background-position: center bottom;
}
#homebanner .carousel-item{
    position: relative;
    transition-delay: 0ms;
}
#homebanner .carousel-item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.36);
}
#homebanner .carousel-indicators li {
    width: auto;
    height: auto;
    margin-right: 8px;
    margin-left: 8px;
    text-indent: 0;
    background-color: rgba(255,255,255,.6);
    display: inline-block;
    text-align: center;
    padding: 0;
    border-radius: 6px 6px 0 0;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}
#homebanner .carousel-indicators li:first-child{
    margin-left: 0;
}
#homebanner .carousel-indicators li:last-child{
    margin-right: 0;
}
#homebanner .carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}
#homebanner ul.carousel-indicators {
    margin: auto;
    padding-right: 0;
    bottom: auto;
    top: -38px;
    border-bottom: none;
    justify-content: space-between;
}
#homebanner .carousel-indicators li a.nav-link {
    border: none;
    background: transparent;
    color: #000000;
    padding: 4px 20px;
}
#homebanner .carousel-indicators li.active a.nav-link {
    color: #ffffff;
}
#homebanner .carousel-indicators .active a.nav-link .svg_icon svg path {
    fill: #ea5a2a;
}
.banner_search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 980px;
    max-width: 1000px;
    height: 103px;
    background: rgba(0, 0, 0, 0.6) !important;
    z-index: 1;
    border-radius: 0 0 6px 6px;
}
a.nav-link .svg_icon svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.carousel-indicators li::before, .carousel-indicators li::after {
    top: 0;
    bottom: 0;
    height: initial;
}
.cont_input {
    background: #ffffff;
    border-radius: 6px;
    padding: 8px 15px;
    display: inline-block;
    position: relative;
}
.tab-pane {
    display: flex;
    flex-wrap: nowrap;
    justify-content: unset;
    align-items: unset;
    flex-direction: row;
}
.cont_input label {
    font-size: 12px;
    color: #EA5A2A;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 16px;
    margin-bottom: 5px;
}
.search_icon {
    display: inline-flex;
    width: 66px;
    height: 66px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    background: #EA5A2A;
    border-radius: 6px;
    border: none;
    outline: none;
    overflow: hidden;
}
.search_icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.search_icon:focus, .search_icon:hover, .search_icon:active {
    outline: none;
}
.search_icon svg {
    width: 21px;
    height: 21px;
}
.search_icon svg path {
    fill: #ffffff;
}
.tab-pane input {
    border: none;
    color: #333333;
    width: 100%;
    outline: none;
}
.large_input {
    width: 380px;
}
.checkin, .checkout{
    width: 128px;
}
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_search .tab-content {
    margin-top: 18px;
}
.banner_quote {
    color: #ffffff;
    position: absolute;
    top: calc(50% - 215px);
    text-align: center;
    width: 100%;
    font-family: 'Great Vibes', cursive;
    font-size: 42px;
    line-height: 53px;
}
.no_data {
    color: #ffffff;
    width: 100%;
    margin-top: 13px;
}
.autocomp_list {
    position: absolute;
    background: #ffffff;
    width: 100%;
    left: 0;
    top: 100%;
    margin-top: 2px;
    border-radius: 6px;
    overflow: hidden;
    display: none;
}
.autocomp_list.show_list {
    display: block;
}
.autocomp_list ul li {
    list-style-type: none;
    border-bottom: 1px solid #ccc6c4;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}
.autocomp_list ul li:hover, .keyboard_select .selected {
    background-color: #ff5a21;
    color: #ffffff;
}
.autocomp_list ul {
    padding: 0;
    margin: 0;
    max-height: 250px;
    overflow: auto;
}
footer {
    background: #17100e;
    color: #ffffff;
    padding: 20px;
}
.copyright a {
    color: #ff5a21;
}
.copyright {
    font-size: 12px;
}
/* End Banner section in home page*/
/* Start body content in home page */
.each_home_row {
    padding: 40px 0;
}
.large_title {
    font-size: 30px;
    font-weight: 700;
    color: #ff5a21;
    margin: 10px 0;
}
.medium_title {
    font-size: 18px;
    font-weight: 600;
}
.lineheight_text {
    font-size: 16px;
    color: #270a00;
    line-height: 26px;
    margin-bottom: 40px;
}
a.spl_btn {
    font-size: 14px;
    border: 1px solid #ff5a21;
    padding: 10px 20px;
    border-radius: 30px;
    color: #ff5a21;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}
.image_part{
    position: relative;
    height: 330px;
}
.ip_img_1{
    background-image: url(../img/hotels.jpg);
    background-position: center;
}
.ip_img_2{
    background-image: url(../img/resorts.jpg);
    background-position: center;
}
.ip_img_3{
    background-image: url(../img/adventure.jpg);
    background-position: center bottom;
}
.ip_img_4{
    background-image: url(../img/holiday.jpg);
    background-position: center bottom;
}
.ip_img_5{
    background-image: url(../img/rentcar.jpg);
    background-position: center bottom;
}
.ip_img_6{
    background-image: url(../img/accommod.jpg);
    background-position: center bottom;
}
.ip_img_1, .ip_img_2, .ip_img_3, .ip_img_4, .ip_img_5, .ip_img_6{
    background-size: cover;
    background-repeat: no-repeat;
}
.right_triangle {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: 331px solid transparent;
    border-right: 60px solid #ffffff;
}
.order-md-12 .right_triangle {
    right:auto;
    left:0;
    border-top: 331px solid transparent;
    border-left: 60px solid white;
    border-right: none;
}
.subtitle {
    margin-bottom: 25px;
}
.homearrow {
    width: 50px;
    height: 50px;
    border: 5px solid #ff5a21;
    border-radius: 10px;
    position: absolute;
    left: -25px;
    bottom: 25px;
}
.order-md-12 .homearrow {
    left: auto;
    right: -25px;
}
.subtitle h1 {
    font-size: 36px;
    font-weight: 600;
}
.subtitle p {
    font-size: 18px;
}
/* End body content in home page */
/* Start Calender Custom css */
i.gj-icon {
    display: none;
}
.gj-textbox-md:active, .gj-textbox-md:focus {
    border-bottom: none;
}
.gj-picker.gj-picker-md.datepicker.gj-unselectable {
    border: none;
    border-radius: 6px;
    margin-left: -100px;
    margin-top: 16px;
    /* display:  block !important; */
}
i.gj-icon.chevron-left, .gj-icon.chevron-right {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid #ffffff;
    border-radius: 4px;
}
i.gj-icon.chevron-left:before, i.gj-icon.chevron-right:before {
    content: "";
    height: 10px;
    width: 10px;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    display: inline-block !important;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -5px;
    margin-left: -4px;
}
i.gj-icon.chevron-left:before {
    transform: rotateZ(-45deg);
    margin-left: -3px;
}
i.gj-icon.chevron-right:before {
    transform: rotateZ(135deg);
    margin-left: -7px;
}
.gj-picker-md div[role=navigator] {
    background-color:#EA5A2A;
    color: #ffffff;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}
.today>div {
    color: #ea5a2a !important;
    font-weight: 700;
    border: 1px solid #ea5a2a;
    border-radius: 50%;
}
.gj-picker-md table tr td.selected.gj-cursor-pointer div {
    background-color: #ea5a2a;
    color: #ffffff !important;
}
.datepicker table>thead>tr[role="week-days"] th {
    color: #333333;
    background-color:#dadada;
}
.gj-picker.datepicker:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 13px solid #ea5a2a;
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -5px;
}
.gj-picker-md div[role=navigator] div:first-child, .gj-picker-md div[role=navigator] div:last-child, .gj-picker-md div[role=navigator]>div {
    border-radius: 6px !important;
}
/* End Calender Custom css */
/* Start filter data page design */
.in_logo {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d4d4d4;
}
.auto_search_suggestion, .common_menu_list {
    padding: 10px;
}
.filt_menu_list li {
    list-style-type: none;
    display: inline-block;
}
.filt_menu_list>li>a {
    color: #333333;
    padding: 8px 0px;
    display: block;
    margin: 0 12px;
    font-size: 16px;
    font-weight: 600;
}
.common_menu_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.auto_search_suggestion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
}
.auto_search_suggestion input {
    border: 1px solid #9a9a99;
    padding: 5px 10px;
    border-radius: 4px;
    min-width: 350px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.common_menu_list ul {
    margin: 0;
    padding-left: 0;
}
.in_logo a {
    margin: 0;
    padding: 0;
}
.in_logo .ttt_logo {
    width: 104px;
    padding: 4px 0;
}
.modify_search {
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 9;
    background: #ffffff;
    min-height: 70px;
}
.filter_area {
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100vh - 70px);
    background: white;
    margin-top: 69px;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.16);
    z-index: 9;
    border-top: 1px solid #d4d4d4;
    padding: 0;
    overflow: auto;
}
.body_section {
    /* min-width: 100vw;
    min-height: 100vh; */
}
.sub_heading {
    color: #333333 !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date_label {
    font-size: 12px;
    text-transform: uppercase;
    color: #404040;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}
.each_filt_section {
    border-bottom: 1px solid #d9d9d9;
    padding: 16px;
}
.dates_here input {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 14px;
}
.pricerange ul li {
    list-style-type: none;
    font-size: 14px;
    color: #333333;
    margin: 5px 0;
}
.pricerange ul {
    padding-left: 0;
}
.custom-control-label::before {
    background-color: transparent;
    border: 1px solid #9c9c9c;
    outline: none;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ff5a21;
    border: 1px solid #ff5a21;
    outline: none;
}
.custom-control-label {
    outline: none;
    cursor: pointer;
}
.sub_heading .fa {
    font-size: 20px;
    transition: all 0.3s linear;
}
.sub_heading[aria-expanded="true"] .fa {
    transform: rotateZ(180deg);
    transition: all 0.3s linear;
}
.filter_data {
    margin-top: 69px;
    padding: 16px;
}
.htl_images {
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
}
.htl_images img {
    width: 100%;
}
ul.rating_star {
    padding-left: 0;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}
ul.rating_star li {
    list-style-type: none;
    display: inline;
    font-size: 11px;
    margin: 0 1px;
    color: #00ac00;
}
span.orange_text {
    color: #ff5a21;
    font-weight: 800;
    font-size: 16px;
}
.host_gall {
    background-color: #ffffff;
    border-radius: 6px !important;
    height: 100%;
}
.img_details {
    padding: 12px;
    position: relative;
}
.name_rating h4 {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 0;
}
.name_rating p {
    font-size: 14px;
    margin-bottom: 0;
}
.orange_btn_bor {
    background-color: transparent;
    border: 1px solid #ff5a21;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #ff5820;
    border-radius: 30px;
    outline: none;
}
.each_host_gall {
    margin-bottom: 32px;
}
.booking {
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.total_reviews {
    font-size: 12px;
    color: #828282;
}
.each_host_gall:hover .carousel-control-prev, .each_host_gall:hover .carousel-control-next {
    display: flex;
}
.carousel-control-prev, .carousel-control-next {
    display: none;
}
.name_rating .htl_address {
    font-size: 12px;
}
.fa-map-marker {
    color: #ababab;
    font-size: 16px;
    margin-right: 3px;
}
.map_location, .map_location:hover{
    color: #009dc9;
    text-decoration: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
}
.main_ttls h2 {
    font-size: 26px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 0;
}
/* End filter data page design */
@media screen and (min-width: 1800px){
    .htl_images {
        height: 240px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1799px){
    .htl_images {
        height: 180px;
    }
}
