<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/datepicker.css" rel="stylesheet" type="text/css">
    <link type="text/css" href="../static/css/tttstyle.css" rel="stylesheet">

    <title>Hotels and Resorts</title>
</head>

<body>
    <main>
        <section class="head_section">
            <div class="container-fluid">
                <div class="row modify_search justify-content-between">
                    <div class=" col col-md-3
                    col-lg-2 in_logo">
                    <a class="navbar-brand ttt_logo" href="index.html">
                        <img src="../static/img/travel_logo.png" alt="logo">
                    </a>
                </div>

                <div class="col-sm-auto auto_search_suggestion">
                    <input type="search" placeholder="Type Search" />
                </div>

                <div class="col common_menu_list">
                    <ul class="filt_menu_list">
                        <li>
                            <a href="#">Gift Cards</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </section>

        <section class="body_section gray_bg">
            <div class="container-fluid">
                <div class="row modify_filter">
                    <div class="col-md-3 col-lg-2 filter_area">
                        <div class="each_filt_section">
                            <a class="sub_heading">Dates</a>
                            <div class="dates_here">
                                <label class="date_label">Check In</label>
                                <input class="transparent_input" placeholder="Select Date">
                            </div>
                            <div class="dates_here">
                                <label class="date_label">Check Out</label>
                                <input class="transparent_input" placeholder="Select Date">
                            </div>
                        </div>

                        <div class="each_filt_section">
                            <a class="sub_heading"  data-toggle="collapse" data-target="#pricerange" aria-expanded="true">Price
                                Range <i class="fa fa-angle-down"></i></a>
                            <div id="pricerange" class="pricerange collapse show">
                                <ul>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="prise1" name="example1">
                                            <label class="custom-control-label" for="prise1">₹ 4,001 to ₹ 7,000</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="prise2" name="example1">
                                            <label class="custom-control-label" for="prise2">₹ 7,001 to ₹ 10,000</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="prise3" name="example1">
                                            <label class="custom-control-label" for="prise3">₹ 10,001 to ₹ 12,000</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="prise4" name="example1">
                                            <label class="custom-control-label" for="prise4">₹ 12,001 to ₹ 15,000</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="prise5" name="example1">
                                            <label class="custom-control-label" for="prise5">Above ₹ 15,000</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="each_filt_section">
                            <a class="sub_heading" data-toggle="collapse" data-target="#location" aria-expanded="false">Location
                                <i class="fa fa-angle-down"></i></a>
                            <div id="location" class="collapse pricerange">
                                <ul>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="location1" name="example1">
                                            <label class="custom-control-label" for="location1">Silkboard</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="location2" name="example1">
                                            <label class="custom-control-label" for="location2">BTM Layout</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="location3" name="example1">
                                            <label class="custom-control-label" for="location3">Koramangala</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="location4" name="example1">
                                            <label class="custom-control-label" for="location4">Richmond Road</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="location5" name="example1">
                                            <label class="custom-control-label" for="location5">Bengaluru International
                                                Airport Road</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="location6" name="example1">
                                            <label class="custom-control-label" for="location6">Gandhi Nagar</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="location7" name="example1">
                                            <label class="custom-control-label" for="location7">MG Road</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="location8" name="example1">
                                            <label class="custom-control-label" for="location8">Mayan Circle</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="each_filt_section">
                            <a class="sub_heading" data-toggle="collapse" data-target="#amenities" aria-expanded="false">Amenities
                                <i class="fa fa-angle-down"></i></a>
                            <div id="amenities" class="collapse pricerange">
                                <ul>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="amenities1" name="example1">
                                            <label class="custom-control-label" for="amenities1">Silkboard</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="amenities2" name="example1">
                                            <label class="custom-control-label" for="amenities2">BTM Layout</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="amenities3" name="example1">
                                            <label class="custom-control-label" for="amenities3">Central Air
                                                Conditioning</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="amenities4" name="example1">
                                            <label class="custom-control-label" for="amenities4">Airport transportation</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="amenities5" name="example1">
                                            <label class="custom-control-label" for="amenities5">WIFI</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="amenities6" name="example1">
                                            <label class="custom-control-label" for="amenities6">Laundry facilities</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="amenities7" name="example1">
                                            <label class="custom-control-label" for="amenities7">ATM/banking</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="amenities8" name="example1">
                                            <label class="custom-control-label" for="amenities8">Swimming pool</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="amenities9" name="example1">
                                            <label class="custom-control-label" for="amenities9">Fitness Centre</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 offset-md-3 offset-lg-2 col-lg-10 filter_data">
                        <div class="row gall_view">
                            <div class="col-12 main_ttls">
                                <h2>Hotels in Bangalore</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                            </div>

                            <!-- ************** Start each gall view **************-->
                            {% for menus in details.menuList %}
                            <div class="col col-sm-6 col-md-4 col-lg-3 each_host_gall">
                                <div class="host_gall">
                                    <div class="img_htls">
                                        <div id="gal-1" class="carousel slide">
                                            <!-- Indicators -->
                                            <ul class="carousel-indicators">
                                                <li data-target="#gal-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#gal-1" data-slide-to="1"></li>
                                                <li data-target="#gal-1" data-slide-to="2"></li>
                                                <li data-target="#gal-1" data-slide-to="3"></li>
                                                <li data-target="#gal-1" data-slide-to="4"></li>
                                                <li data-target="#gal-1" data-slide-to="5"></li>
                                            </ul>

                                            <!-- The slideshow -->
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="htl_images">
                                                        <img src="../static/img/htls_1.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="htl_images">
                                                        <img src="../static/img/htls_2.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="htl_images">
                                                        <img src="../static/img/htls_3.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="htl_images">
                                                        <img src="../static/img/htls_4.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="htl_images">
                                                        <img src="../static/img/htls_5.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="htl_images">
                                                        <img src="../static/img/htls_6.png" alt="image">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Left and right controls -->
                                            <a class="carousel-control-prev" href="#gal-1" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#gal-1" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="img_details">
                                        <div class="name_rating">
                                            <h4 class="">{{menus[0]["name"]}}</h4>
                                            <p class="htl_address">{{menus[0]["address"]}}</p>
                                            <a href="" class="map_location"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                {{menus[0]["city"]}}, {{menus[0]["state"]}}</a>
                                            <p><span class="orange_text">₹ {{menus[0]["cost"]}}</span> per night</p>
                                            <ul class="rating_star">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            </ul>
                                            <span class="total_reviews">56</span>
                                        </div>
                                        <div class="booking">
                                            <button type="button" class="orange_btn_bor">Choose Room</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                            <!-- ************** End each gall view **************-->

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/datepicker.js"></script>
    <script src="../static/js/tttscript.js"></script>
</body>


</html>